*{
    margin: 0;
    font-family: Inter;
}

body{
    margin: 0;
    overflow-x: hidden;
} 


.header{
    background-image: url(images/Rectangle1.jpg) ;
    height: 100px;
}















#b1 {
    background-color: #0000;
    border: none;
    height: 90%;
    font-size: 1.1vw;
}

button{
    cursor: pointer;
}



.logo{
    text-align: start;
    font-size: 2.5vw;
    flex-basis: 30%;
}



.header__right{
    flex-basis: 70%;
    display: flex;
    font-size: 16px;
    align-items: center;
    height: 100%;
}
.header__right path:hover{
    fill: #585858;
    transition: fill 0.4s;
}
ul{
    display: flex;
    align-items: flex-end;
    list-style-type: none;
}


li.nav__item:hover{
    color: black ;
}




a:hover{
    color: #585858;
    transition: color 0.4s;
}


.hero h1{
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 5%;
}

.hero, .portfolio, .quote, .services{
    height: 85%;
    flex-wrap: wrap;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10%;
    margin-bottom: 10%;
    flex-basis: 100%;
    font-size: 1.2vw;
    display: flex;
    padding-right: 50px;
    flex-direction: column;  
}

#b2{
    margin-top: 5%;
    font-size: 1.1vw;
    height: 20%;
    font-weight: bold;
    width: 25%;
    padding: 2%;
    border: none;
}
#b2:hover{
    color: white;
    background-color: rgb(48, 47, 47);
    transition: background-color 0.4s, color 0.4s;
}

.hero p {
    font-size: 1.5vw;
}

.about{
    padding: 20%;
    padding-top: 12%;
    padding-bottom: 12%;
    justify-content: start;
    display: flex;
    flex-direction: row;
}

.about__col{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.about__list{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 0%;
}

li.about__item{
    margin: 0;
}

.completed__value{
    font-size: 3.5vw;
}

.completed__descr{
    font-size: 1vw;
    color: rgba(131, 131, 131, 1);
    margin-bottom: 23%;
}

.about__title{
    font-size: 2.5vw;
}

.about__text, .portfolio-item__descr {
    font-size: 1vw;
}

.about__descr{
    margin-top: 5%;
}

.about__video {
    padding-left: 20%;
    padding-right: 20%;
    height: max-content;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.about__video video {
    width: 100%;
    object-fit: cover;
    height: 30vw;
}

.about__video circle:hover{
    fill: rgb(136, 134, 134);
    transition: fill 0.4s;
}
.about__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}
#playButton{
    height: 25%;
}
.about__video svg{
    height: 100%;
}
.portfolio__list{
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.portfolio-item__image{
    width: 100%;
}

li.portfolio-item.grid{
    margin: 0;
}

.portfolio-item{
    display: flex;
}

.portfolio-item__col{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio{
    margin-top: 10%;
    padding-left: 0;
    padding-right: 0;
}

#i1{
    padding-left: 7%;
}

#i2{
    padding-right: 7%;
}

.portfolio-item__col * {
    margin-bottom: 10%;
    justify-content: center;
}

#f1{
    margin-bottom: 10%;
}

.portfolio-item__title{
    color: rgba(131, 131, 131, 1);
    font-size: 1.4vw;
    font-weight: 300;
}

.portfolio button{
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.1vw;
    width: 50%;
    height: 15%;
}

.portfolio button:hover{
    background-color: #0000;
    color: black;
    transition: color 0.4s, background-color 0.4s;
}

ul.portfolio__list{
    padding: 0%;
}

.quote{
    display: flex;
    margin-bottom: 5%;
}

.quote__title, cite span, .services-item__descr{
    font-size: 1.1vw;
    color: rgba(131, 131, 131, 1);
    font-weight: 400;
    font-style: normal;
}

.quote__text{
    font-weight: 500;
    font-size: 1.9vw;
    max-width: 70%;
}

 cite.quote__author {
    font-size: 1.1vw;
    font-style: normal;
}

.quote *{
    margin-bottom: 8%;
}

.presentation img{
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}

.presentation{
    margin-bottom: 10%;
}

.services__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul.services__list{
    align-items: flex-start;
    padding-left: 0;
}

.services{
    padding: 0%;
}

.services-item{
    display: flex;
    flex-direction: row;
    height: 15vh;
    border-top: 1px solid rgb(126, 124, 124);
}

.services-item__col{
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.services-item__title{
    font-size: 2vw;
    font-weight: 500;
}

.services-item__descr{
    font-size: 1vw;
    text-align: justify;
}

footer{
    background-color: rgba(29, 29, 31, 1);
}

.footer_inside{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 9%;
    display: flex;
}

.footer__col{
    flex-basis: 50%;
}

.footer__address{
    color: rgba(131, 131, 131, 1);
    font-style: normal;
    margin-top: 8%;
    margin-bottom: 5%;
    width: 80%;
}

ul.footer__social{
    gap: 1vw;
    padding: 0%;
}

.footer__title{
    font-size: 1.5vw;
    color: white;
    font-weight: 400;
    max-width: 90%;
}

input.footer__input{
    background-color: #0000;
    border: none;
    height: 5vh;
    border-radius: 7px;
    width: 100%;
    height: 70%;
    margin-top: 5%;
    color: white;
    font-size: 1.2vw;
}

.footer__form{
    height: 45%;
    border-bottom: 1px solid rgba(131, 131, 131, 1);
    position: relative;
}

.footer__btn{
    position: absolute;
    right: 5%;
    bottom: 15%;
    background-color: #0000;
    border: none;
}

.footer__address{
    font-size: 1.3vw;
}

footer img{
    height: 4.5vw;
}

.footer__form img{
    height: 2.5vw;
}

@media (min-width: 480px) and (max-width: 760px) {
    .hero, .portfolio, .quote, .services{
        margin-left: 15%;
        margin-right: 15%;
    }

    header{
        flex-direction: column;
        align-items: center;
    }

    .header__search{
        flex-basis: 10%;
    }

    .header__right{
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    ul{
        padding-left: 0;
    }

    .logo{
        margin-bottom: 5%;
    }

    .about{
        flex-direction: column;
    }

    .about__list{
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5%;
    }

    .about__video{
        padding-left: 0%;
        padding-right: 0%;
    }

    .about__video video{
        height: 40vw;
    }

    .completed{
        text-align: center;
    }

    
    .portfolio-item__col {
        flex-basis: 70%;
    }

    
    #i1{
        flex-basis: 30%;
        padding: 0%;
        margin-left: 5%;
    }
    
    #i2{
        flex-basis: 30%;
        padding: 0%;
        margin-right: 5%;
    }

    .portfolio-item__col img{
        height: 100%;
        width: 100%;
        margin-bottom: 0;       
    }

    .portfolio-item__col button {
        width: 30%;
        height: 3vw;
        margin: 0;
    }
    
    .quote__text{
        max-width: 100%;
        text-align: justify;
    }

    .quote{
        padding-right: 0%;
    }

    img.services__image{
        height: 50vh;
    }

    .services-item__col:nth-child(odd){
        flex-basis: 30%;
        margin-right: 0;
    }

    .services-item__col:nth-child(even){
        flex-basis: 70%;
    }

    .services-item__descr{
        font-size: 1.2vw;
    }

    #b1{
        height: 60%;
    }

    .nav__item{
        font-size: 2vw;
    }
    ul.nav__list{
        padding-top: 2%;
    }
        
}


@media (max-width: 480px) {
    .hero, .portfolio, .quote, .services{
        margin-left: 10%;
        margin-right: 10%;
    }

    .logo{
        font-size: 3.5vw;
    }

    .header__search{
        flex-basis: 100%;
        text-align: center;
    }
    .menu__btn {
        display: flex; 
        align-items: center;  
        position: absolute;
        top: 2%;
        right: 3%;
        width: 4vw;
        height: 4vw;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
      }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    a.nav__link{
        color: rgb(255, 255, 255);
    }
    .nav__list {
        display: flex;
        flex-direction: column;
        position: absolute;
        visibility: hidden;
        justify-content: start;
        align-items: center;
        color: #e6e1e1;
        width: 15%;
        top: -1%;
        padding-top: 15%;
        padding-left: 0%;
        height: 15%;
        margin: 0;
        list-style: none;
        text-align: center;
        background-color: rgba(189, 189, 189, 0.3);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    }
    ul.nav__list {
        align-items: center;
        justify-content: space-around;
    }
    .nav__item {
        display: block;
        color: #d1d0d0;
        font-size: 2.5vw;
  
    }

    .nav__item:hover {
        background-color: #1488b9;
    }

    #menu__toggle{
        display: block;
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .nav__list {
        visibility: visible;
        right: 0;
    }

    svg {
        height: 4vw;
    }

    #b2, .hero p, .about__text, .portfolio-item__descr, .completed__descr, cite.quote__author, .quote__author span, .quote__title{
        font-size: 2.5vw;
    }

    .hero h1{
        font-size: 6.5vw;
    }

    .completed__value, .about__title, .services-item__title{
        font-size: 4.5vw;
    }

    .about__title{
        margin-top: 10%;
    }

    .about{
        flex-direction: column;
    }

    .completed{
        text-align: center;
    }

    .about__list{
        justify-content: center;
        align-items: center;
    }
    section.hero{
        padding-right: 0%;
    }

    .about__video{
        padding: 0%;
        height: 30vh;
    }

    .about__video video {
        height: 30vh;
    }

    .portfolio-item {
        flex-direction: column;
    }
    .portfolio-item:nth-child(even){
        flex-direction: column-reverse;

    }
    .portfolio-item * {
        margin-bottom: 4%;
    }

    .portfolio-item button {
        height: 6vw;
    }

    .portfolio-item__title, .quote__title, .quote__author, .services-item__descr, .footer__address, .footer__title{
        font-size: 2vw;
    }

    #i1, #i2{
        padding-left: 0%;
    }

    img.portfolio-item__image{
        height: 50vw;
    }

    .about{
        padding: 10%;
    }

    .portfolio button {
        font-size: 2vw;
    }

    .quote__text{
        max-width: 100%;
        text-align: justify;
        font-size: 2.3vw;
    }

    .quote{
        padding-right: 0%;
    }

    img.services__image{
        height: 50vh;
    }

    .services-item{
        flex-direction: column;
    }

    .footer_inside{
        flex-direction: column;
    }
    
    footer img{
        height: 6.5vw;
    }
    ul.footer__social{
        gap: 3vw;
        margin-bottom: 5%;
    }

    input.footer__input{
        height: 5vw;
    }
}